@import "./components/ui/index";

html,body {
  margin: 0;
  height: 100%;
  widows: 100%;
};

main {
  .content {
    max-width: 1280px;
  };
};

.icon-text {
  font-size: 1.2em;
  font-weight: bold;
};

.margine-1 {
  margin: 1em;
}
.margine-2 {
  margin: 2em;
}
.margine-3 {
  margin: 3em;
}

.padding-1 {
  padding: 1em;
}
.padding-2 {
  padding: 2em;
}
.padding-3 {
  padding: 3em;
}