.badge-lable{
  .badges-list-item:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .badge-lable{
    border-radius: 0;
  }
  .badges-list-item:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}