.badge-joined{
  .badges-list-item:first-child:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .badges-list-item:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .badges-list-item:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.badge-list {
  > ul > li {
    margin-left: 1em;
    list-style: disc;
  }
}

// .grid {
//   .row {
//     .column{
//       .content{
//       }
//     }
//   }
// }

input[type=checkbox] + label:before{
  content: "✔";
  left: 0;
  top: 11px;
  transform: scale(0);
  z-index: 1;
}

.select i {
    color: #969da6;
    font-size: 30px;
    font-style: normal;
    height: 30px;
    margin-top: -20px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1;
}

.form-collapse.error{
  margin-bottom: 0;
}
